:root {
	--spacing: 1rem;

	font-family: 'Helvetica', sans-serif;
	font-size: 125%;
}

body {
	padding: var(--spacing);
}

h1 {
	font-size: 2rem;
}

p {
	margin-block-start: calc(2 * var(--spacing));
}